.image-gallery {
	display: flex;
	justify-content: center;	
    padding: 0 187px;
}
.image-gallery .image-item {
    width: 293px;
    height: 293px;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    position: relative;
    background-size: cover;
    margin-right: 25px;
}

.image-item .fa-bookmark {
	float: right;
    padding: 5px;
    color: #fff;
    right: 0;
    position: absolute;
}

.image-item .overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.image-item .like-count {
    margin-right: 2em;
}

.image-item .overlay i,
.image-item .overlay span {
    display: none;
}

.image-item:hover .overlay {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.image-item:hover .overlay i,
.image-item:hover .overlay span {
    display: inline;
    color: #fff;
}

.image-gallery .image-1 {
    background-image: url('./01.jpg');
}

.image-gallery .image-2 {
    background-image: url('./02.jpg');
}

.image-gallery .image-3 {
    background-image: url('./03.jpg');
}